@model FluxoDeCaixa.Models.ViewModels.OutflowFormViewModel
    
@{
    ViewData["Title"] = "Adicionar saída";
}

<h1>@ViewData["Title"]</h1>

@{
    if (ViewBag.msg != null && ViewBag.msg != "")
    {
        <h2>
            @ViewBag.msg
        </h2>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
          Swal.fire('@ViewBag.msg')
        </script>
    }
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Outflow.Id" class="control-label" hidden></label>
                <input asp-for="Outflow.Id" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Outflow.OutflowDate" class="control-label"></label>
                <input asp-for="Outflow.OutflowDate" class="form-control" />
                <span asp-validation-for="Outflow.OutflowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Outflow.OutflowDescription" class="control-label"></label>
                <input asp-for="Outflow.OutflowDescription" class="form-control" />
                <span asp-validation-for="Outflow.OutflowDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Outflow.OutflowAmount" class="control-label"></label>
                <input asp-for="Outflow.OutflowAmount" class="form-control" />
                <span asp-validation-for="Outflow.OutflowAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Outflow.Person.Id" class="form-control">
                    @foreach (var obj in Model.People)
                    {
                        <option value="@obj.Id" class="form-control">@obj.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

