@model FluxoDeCaixa.Models.Outflow

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Saídas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutflowDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutflowDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutflowDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutflowDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutflowAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutflowAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
