@model IEnumerable<FluxoDeCaixa.Models.Inflow>

@{
    var filter = new Filter();
    var inflow = new Inflow();
}

@{
    ViewData["Title"] = "Entradas";
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex justify-content-between">
    <p>
        <a asp-action="Create">Novo</a>
    </p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Filtros
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
                </div>
                <div class="modal-body">
                    <label class="col-form-label">Pesquisa</label>
                    <form asp-route-periodo="@filter.Periodo" asp-route-name="@filter?.Name" asp-route-mindate="@filter.MinDate" asp-route-maxdate="@filter.MaxDate" asp-action="SearchFilter" method="get" class="form-group">

                        <input placeholder="Nome" asp-for="@filter.Name" class="form-control" />

                        <div class="form-row">
                            <div class="col">
                                <label class="col-form-label">De</label>
                                <input asp-for="@filter.MinDate" class="form-control " value="0000-00-00" />
                            </div>
                            <div class="col">
                                <label class="col-form-label">Até</label>
                                <input asp-for="@filter.MaxDate" class="form-control" value="0000-00-00" />
                            </div>
                        </div>

                        <label class="col-form-label"> Períodos</label>
                        <select id="select" asp-for="@filter.Periodo" class="form-control">

                            <option value="0" selected class="form-control">Todos</option>
                            <option value="1"  class="form-control">Últimos 7 dias</option>
                            <option value="2"  class="form-control">Últimos 15 dias</option>
                            <option value="3"  class="form-control">Últimos 30 dias</option>

                        </select>
                        <input class="btn btn-primary btn-block mt-3" type="submit" value="Pesquisar" />
                        <div class="form-group">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Pessoa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InflowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InflowAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InflowDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Balance)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InflowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InflowAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InflowDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Balance)
                </td>

                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <button asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link disabled">Excluir</button>
                </td>
            </tr>

        }
     

    </tbody>
    <tfoot>
        <tr class="table-active">
            <th scope="row">Total de entradas</th>
            <td>@ViewBag.Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>